@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Light.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,html{
    font-family: gilroy;
    font-size: 62.5%;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
}

#location{
    width: 30vw;
    height: 16vh;
    background-color: darkcyan;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.location__button{
    background-color: turquoise;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: gilroy;
    font-size: 3.2rem;
    margin: 5%;
    cursor: pointer;
}

.location__button:hover{
    background-color: white;
    color: turquoise;
}
#information {
    width: 30vw;
    height: 60vh;
    background-color: whitesmoke;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
}